* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f9f5ef
}
main {
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn:focus {
  outline: none;
}

.c-phone {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url('../img/phone.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.e-first-button-text {
  width: 60px;
  height: 60px;
  position: absolute;
  font-size: 72px;
  top: 80px;
  left: 10vh;
  margin: auto;
  background-image: url('../img/1.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.e-second-button-text {
  width: 60px;
  height: 60px;
  position: absolute;
  font-size: 72px;
  bottom: 80px;
  left: 10vh;
  margin: auto;
  background-image: url('../img/2.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@import url(http://fonts.googleapis.com/css?family=Jaldi);

html, * {
  font-family: 'Jaldi', sans-serif;
}

.float {
  position: absolute;
}

.flex-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 320px);
}

div {
  margin: 10px;
}

.e-status-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

#playButtonFirst,
#playButtonSecond {
  border-radius: 100%;
  width: 110px;
  height: 110px;
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
  margin: auto;
  background-image: url('../img/button-pattern.png');
  border: 0;
  background-size: cover;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
}

.second {
  background-image: url('../img/second-button-pattern.png') !important;
  top: auto !important;
  bottom: 65px;
}


.btn > div {
  width: 100%;
  height: 100%;
  font-size: 70px;
  margin: 0 0 0 5px;
  color: #ffdfc9;
  background-image: url('../img/play-icon.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.playing > div {
  background-image: url('../img/pause-icon.png') !important;
  margin: 0 !important;
}

#playButtonFirst > div {
  width: 100%;
  height: 100%;
  background-image: url('../img/play-icon-pink.png')
}

#playButtonFirst .playing {
  background-image: url('../img/pause-icon-pink.png') !important;
}

#totalTime {
  position: absolute;
  top: 10px;
  right: 5px;
  display: none;
}

#currentTime {
  position: absolute;
  top: 10px;
  left: 5px;
  display: none;
}

#slider {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 49vh;
  opacity: 0;
  transition: 1s opacity;
}
.visible > #slider {
  opacity: 1 !important;
}

input[type="range" i] {
  color: rgb(255, 255, 255) !important;
  opacity: 0.9;
}

#totalTime,
#currentTime {
  color: #fff;
}

canvas,
#crap {
  display: none;
}

/* Styling the input */

input[type=range] {
  -webkit-appearance: none;
  margin: 8px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: #fff;
  border-radius: 1.3px;
  /*border: 0.2px solid #010101;*/
}
input[type=range]::-webkit-slider-thumb {
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  /*border: 1px solid #000000;*/
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #f8235c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: #fff;
  border-radius: 1.3px;
  /*border: 0.2px solid #010101;*/
}
input[type=range]::-moz-range-thumb {
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  /*border: 1px solid #000000;*/
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fff;
  /*border: 0.2px solid #010101;*/
  border-radius: 2.6px;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range]::-ms-fill-upper {
  background: #fff;
  /*border: 0.2px solid #010101;*/
  border-radius: 2.6px;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range]::-ms-thumb {
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  /*border: 1px solid #000000;*/
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}
